@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --beige: #e2d8cc;
    --sharp-orange: #ff6054;
    --slate: #6a6e76;
    --font-dark: #2f2620;
    --font-silver: #dadada;
    --accent-gray: #aeadb0;
    background-color: var(--accent-gray);
    margin: 0 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    align-items: center;
    color: var(--font-black);
}

h1, nav, main, footer {
    max-width: 1200px;
}

h1 {
    font-size: 5rem;
    color: var(--font-dark);
    width: 100%;
    text-align: center;
    padding: 70px 0;
    background-image: url("./img/sunset3.png");
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
}

nav {
    background-color: var(--sharp-orange);
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    padding: 20px 0;
}

    nav ul {
        display: flex;
        justify-content: center;
        margin: 0;
        list-style: none;
    }

    li {
        margin: 0 30px;
    }

.icon {
    padding-right: 10px;
    height: 1.5rem;
}

    .icon:hover {
        transform: scale(1.25);
    }

main {
    background-color: var(--beige);
    width: 100%;
}

    .about-me {
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        margin: 30px;
    }

        .about-me-img {
            margin: 20px 0;
        }

        .about-me-card {
            background-color: var(--slate);
            color: var(--font-silver);
            /* border: 1px solid blue; */
            height: 275px;
            padding: 0 20px;
            position: relative;
        }

        .diy {
            font-weight: 600;
        }

        .diy:hover {
            font-size: 2rem;
        }

    .project, .project-img {
        width: 325px;
    }

    .projects-cont {
        /* border: 1px solid purple; */
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        justify-content: center;
        gap: 40px 25px;
        margin: 30px 0;
    }

        .project {
            background-color: var(--slate);
            border-bottom: 5px solid var(--sharp-orange);
            border-radius: 3px;
            color: var(--font-silver);
            box-shadow: 7px 5px 5px #9a958d;
            position: relative;
        }

        .project-img {
            padding: 0;
            height: 300px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .project-sub {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .project-name {
            margin: 10px;
            font-size: 1.5rem;
            font-weight: 600;
        }

        .project-text {
            margin: 10px;
            font-size: 1rem;
            background: var(--silver);
        }

        .project-btns {
            margin: 10px 0 ;
            top: 0;
            right: 0;
            position: absolute;
        }

footer {
    display: flex;
    justify-content: center;
    background-color: var(--slate);
    font-size: 1rem;
    color: white;
    width: 100%;
    padding: 20px 0;
}

    h2 {
        font-size: 2.5rem;
        margin: 10px 0;
    }

    .contact-cont {
        display: flex;
        flex-direction: column;
        margin: 0 30px;
        max-width: 450px;
    }

    .contact-card {
        display: flex;
        align-items: center;
        line-height: 2rem;
    }

@media (max-width: 1000px) {
body {
    background: green;
}
}

@media (max-width: 800px) {
body {
    background: lightskyblue;
}
}